<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "Shield Total Insurance"
        versionCode = "10" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Shield Total Insurance</name>

    <description>
        Shield Total Insurance
    </description>

    <author href="" email="">
        Bobby the cat 
    </author>
    

	<preference name='phonegap-version' value='cli-6.5.0' />

	<gap:plugin name="org.apache.cordova.device" source="npm"/>	
	<gap:plugin name="org.apache.cordova.statusbar" source="npm"/>
	<gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>
	<gap:plugin name="cordova-plugin-camera"  source="npm"/>
	<gap:plugin name="phonegap-plugin-barcodescanner-ps" source="npm"/>    
	<gap:plugin name="cordova-plugin-email-composer" version="0.8.3" source="npm"/>
	<gap:plugin name="cordova-plugin-legacy-whitelist" source="npm"/>
	<gap:plugin name="ionic-plugin-keyboard" source="npm"/>
	<gap:plugin name="cordova-plugin-sms" source="npm"  />
	<gap:plugin name="nl.x-services.plugins.socialsharing" source="npm"/>
	
	<gap:plugin name="pushwoosh-pgb-plugin" source="npm" />
	
	<gap:config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
	<string>We are using the Camera for users to take pictures of there items to be stored on the phone and called back into the app for emailing out in the event of a claim</string>
	</gap:config-file>
	
	<preference name="orientation"      value="default" />
	<preference name="target-device"    value="universal" />
	<preference name="fullscreen"       value="false" />
	<preference name="webviewbounce" value="false" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
	<preference name="UIWebViewBounce" value="false" /> 	
	<preference name="DisallowOverscroll" value="true" />
	<preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
	<preference name="stay-in-webview" value="true" /> <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
	<preference name="detect-data-types" value="true" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
	<preference name="exit-on-suspend" value="false" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
	<preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
	<preference name="auto-hide-splash-screen" value="false" /> <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
	<preference name="android-minSdkVersion" value="" /> <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
	<preference name="android-installLocation" value="auto" /> <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	<preference name="ios-statusbarstyle" value="black-opaque" /> <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#004238" />	
	<preference name="android-windowSoftInputMode" value="adjustResize" />
	
	<icon src="icon.png" />

	<icon gap:platform="ios" height="60" width="60" src="res/icons/ios/icon-60.png" />
	<icon gap:platform="ios" height="120" width="120" src="res/icons/ios/icon-60-2x.png" />
	<icon gap:platform="ios" height="180" width="180" src="res/icons/ios/icon-60-3x.png" />
	<icon gap:platform="ios" height="76" width="76" src="res/icons/ios/icon-76.png" />
	<icon gap:platform="ios" height="152" width="152" src="res/icons/ios/icon-76-2x.png" />
	<icon gap:platform="ios" height="40" width="40" src="res/icons/ios/icon-40.png" />
	<icon gap:platform="ios" height="80" width="80" src="res/icons/ios/icon-40-2x.png" />
	<icon gap:platform="ios" height="57" width="57" src="res/icons/ios/icon-57.png" />
	<icon gap:platform="ios" height="114" width="114" src="res/icons/ios/icon-57-2x.png" />
	<icon gap:platform="ios" height="72" width="72" src="res/icons/ios/icon-72.png" />
	<icon gap:platform="ios" height="144" width="144" src="res/icons/ios/icon-72-2x.png" />
	<icon gap:platform="ios" height="29" width="29" src="res/icons/ios/icon-small.png" />
	<icon gap:platform="ios" height="58" width="58" src="res/icons/ios/icon-small-2x.png" />
	<icon gap:platform="ios" height="50" width="50" src="res/icons/ios/icon-50.png" />
	<icon gap:platform="ios" height="100" width="100" src="res/icons/ios/icon-50-2x.png" />

	<icon gap:platform="android" gap:qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png" />
	<icon gap:platform="android" gap:qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png" />
	<icon gap:platform="android" gap:qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png" />
	<icon gap:platform="android" gap:qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
	<icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
	<icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />

	<splash src="splash.png" />

	<splash gap:platform="ios" height="480" width="320" src="res/screens/ios/screen-iphone-portrait.png" />
	<splash gap:platform="ios" height="960" width="640" src="res/screens/ios/screen-iphone-portrait-2x.png" />
	<splash gap:platform="ios" height="1024" width="768" src="res/screens/ios/screen-ipad-portrait.png" />
	<splash gap:platform="ios" height="2048" width="1536" src="res/screens/ios/screen-ipad-portrait-2x.png" />
	<splash gap:platform="ios" height="768" width="1024" src="res/screens/ios/screen-ipad-landscape.png" />
	<splash gap:platform="ios" height="1536" width="2048" src="res/screens/ios/screen-ipad-landscape-2x.png" />
	<splash gap:platform="ios" height="1136" width="640" src="res/screens/ios/screen-iphone-568h-2x.png" />
	<splash gap:platform="ios" height="1334" width="750" src="res/screens/ios/screen-iphone-portrait-667h.png" />
	<splash gap:platform="ios" height="2208" width="1242" src="res/screens/ios/screen-iphone-portrait-736h.png" />
	<splash gap:platform="ios" height="1242" width="2208" src="res/screens/ios/screen-iphone-landscape-736h.png" />

	<splash gap:platform="android" gap:qualifier="land-hdpi" src="res/screens/android/screen-hdpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="land-ldpi" src="res/screens/android/screen-ldpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="land-mdpi" src="res/screens/android/screen-mdpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="land-xhdpi" src="res/screens/android/screen-xhdpi-landscape.png" />
	<splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
	<splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
	<splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
	<splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
	
<access origin='*' allows-arbitrary-loads-in-media='true' allows-arbitrary-loads-in-web-content='true' allows-local-networking='true' />
 

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
		<allow-intent href="*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
</feature>
</widget>
