<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/claim.html');
</script>
<div class="homeContent">
<div class="pageBanner">Insurance Claim</div>
<div style="clear: both;"></div>

<div class="pageBlockIntroText"><p>Claims paid by the insurer will be subject to the conditions set out in your policy, including the following procedures:</p></div>
<div class="pageBlock" style="font-size:14px;">
<div style="font-size:10px; padding-left:15px;color:#000;" >
<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;">You must report to us any claim or potential claim as soon as possible.</div>
<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;">A completed claim form must be returned within 30 days of discovery of the incident.</div>
<div style="float:left; padding-right:3%; height:30px;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;">You must, in the event of theft or other malicious incident, give immediate notice of loss to the Police, and obtain a crime reference number.</div>
<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;">You must send copies of every letter, writ or document to us immediately upon receipt.</div>

</div>
<center>
<a class="btn btn-green btn-lg active"  href="#/claim2">I Agree</b> </a>
</center>


</div>
<div style="clear: both; min-height:150px;"></div>
</div>






