<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/main.html');
</script>
<style>
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  text-align:left;
  background-color: #f47521;
  border-color: #f47521;
  font-size:24px;
  padding-left:5%;
  font-weight: bold;
 }

.btn
{
  background-color: #4cb020;
  border-color: #4cb020;
  color:#000;
}
</style>
<div class="homeContent2">
	<div class="mainMenu" style="background-color:transparent;">
		<a class="btn btn-primary btn-block active" href="#/reporttheft">My Unit - TestBuild v4</a>
		<a class="btn btn-primary btn-block active" href="#/products">Products</a>
		<a class="btn btn-primary btn-block active" href="#/claims">Claims</a>
		<a class="btn btn-primary btn-block active" href="#/main" onclick="window.open('http://www.shieldtotalinsurance.co.uk/new-caravan-selector/','_system');">Caravan Selector</a>
		<a class="btn btn-primary btn-block active" href="#/share">Share</a>
		<a class="btn btn-primary btn-block active" href="#/hints">Information Centre</a>
	</div>
</div>
<div class="takecover">
	<img src="img/Armadillo.png">
</div>




