<script>
  ga_storage._setAccount('UA-71012021-2'); //Replace with your own
  ga_storage._trackPageview('/main.html');
</script>
<style>
.btn {
    padding: 4px 2px 0 0w3;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    //text-transform: uppercase;
}

</style>
<div class="homeContent2">
<div class="pageBlock" style="background-color:transparent;">
<table style="width: 100%;" cellspacing="5">
<tbody>
<tr>
<td style="height: 45px; width: 35%; border-radius: 4px; background-color: #4cb020;"><a href="#/policy" style="text-decoration: none; font-size:24px; padding-left:5%; font-weight: bold; color: #ffffff;"><span style="color: #ffffff;">&nbsp;</span>My Unit<i class="fa fa-chevron-right fa-lg" style="font-size:28px; float:right; margin-right:14px;"></i></a></td>
</tr>
<tr>
	<td style="height: 6px; width: 4%;">&nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 4px; background-color: #4cb020;"><a style="text-decoration: none; font-size:24px; padding-left:5%; font-weight: bold; color: #ffffff;" href="#/products"><span style="color: #ffffff;">&nbsp;</span>Products<i class="fa fa-chevron-right fa-lg" style="font-size:28px;  float:right; margin-right:14px;"></i></a></td>
</tr>
<tr>
	<td style="height: 6px; width: 4%;">&nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 4px; background-color: #4cb020;"><a style="text-decoration: none; font-size:24px; padding-left:5%; font-weight: bold; color: #ffffff;" href="#/claim"><span style="color: #ffffff;">&nbsp;</span>Claims<i class="fa fa-chevron-right fa-lg" style="font-size:28px;  float:right; margin-right:14px;"></i></a></span></td>
</tr>
<tr>
	<td style="height: 6px; width: 4%;">&nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 45%; border-radius: 4px; background-color: #4cb020;;"><a style="text-decoration: none; font-size:24px; padding-left:5%; font-weight: bold; color: #ffffff;" href="#/main" onclick="window.open('http://www.shieldtotalinsurance.co.uk/new-caravan-selector/','_system');"><span style="color: #ffffff;">&nbsp;</span>Caravan Selector<i class="fa fa-chevron-right fa-lg" style="font-size:28px; float:right; margin-right:14px;"></i></a></td>
</tr>
<tr>
	<td style="height: 6px; width: 4%;">&nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 4px; background-color: #4cb020;;"><a style="text-decoration: none; font-size:24px; padding-left:5%;  font-weight: bold; color: #ffffff;" href="#/share"><span style="color: #ffffff;">&nbsp;</span>Share<i class="fa fa-chevron-right fa-lg" style="font-size:28px;  float:right; margin-right:14px;"></i></a></td>
</tr>
<tr>
	<td style="height: 6px; width: 4%;">&nbsp;</td>
</tr>
<tr>
<td style="height: 45px; width: 48%; border-radius: 4px; background-color: #4cb020;;"><a style="text-decoration: none; font-size:24px; padding-left:5%; font-weight: bold; color: #ffffff;" href="#/hints"><span style="color: #ffffff;">&nbsp;</span>Information Centre<i class="fa fa-chevron-right fa-lg" style="font-size:28px;  float:right; margin-right:14px;"></i></a></td>
</tr>
</tbody>
</table>
</center>
</div>
</div>
<div class="takecover">
	<img src="img/Armadillo.png">
</div>




