<div class="homeContent">
<div class="pageBanner">More useful information</div>
<div style="clear: both;"></div>
<div class="pageBlock">

<div style="font-size:10px; padding-left:15px; padding-top:3%; color:#000;" >
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/morecontact" style="font-size:16px;  font-weight: lighter; color:#000;">Contact Details / Useful Numbers</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="http://www.twitter.com/friendlycover" style="font-size:16px;  font-weight: lighter;  color:#000;">Social Links</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/moreccwww" style="font-size:16px;  font-weight: lighter;  color:#000;">Shield Website</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="mailto:marketing@shieldtotalinsurance.com?subject=Customer feedback on the App" style="font-size:16px;  font-weight: lighter;  color:#000;">My feedback</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/moremost" style="font-size:16px;  font-weight: lighter;  color:#000;">Getting the most of your Shield app</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/moreDVLA" style="font-size:16px;  font-weight: lighter;  color:#000;">DVLA Vehicle Check</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/moreMID" style="font-size:16px;  font-weight: lighter;  color:#000;">Ask MID</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/moreproddocs" style="font-size:16px;  font-weight: lighter;  color:#000;">Product Documentation</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/moreprivacy" style="font-size:16px;  font-weight: lighter;  color:#000;">Privacy</a></div>
	<div style="float:left; padding-right:3%;"><i class="fa fa-star" style="font-size:12px;"></i></div><div style="padding-bottom:8px;"><a href="#/moreterms" style="font-size:16px;  font-weight: lighter;  color:#000;">Terms and Conditions</a></div>
</div>

</div>
</div>
